<div class="editor-container">

    @if (!supabaseService.selectedDoc()) {
    <div class="vacio">
        <p>Selecciona un documento...</p>
    </div>
    }
    @else {
    <div class="panel-edicion">
        <div class="header-top">
            @if (isEditing) {
            <input type="text" [ngModel]="supabaseService.selectedDoc()?.titulo"
                (ngModelChange)="supabaseService.updateTitulo($event)" class="titulo-input" />
            } @else {
            <h1 class="titulo-lectura">{{ supabaseService.selectedDoc()?.titulo }}</h1>
            }

            <button class="btn-toggle" (click)="toggleEdition()">
                {{ isEditing ? '👁️ Ver Vista Previa' : '✏️ Editar Contenido' }}
            </button>
            <button class="btn-delete" (click)="eliminarTema()">🗑️ Eliminar Tema</button>

            @if (isEditing) {
            <button class="btn-save" (click)="guardarCambios()">💾 Guardar</button>
            }
        </div>

        <div class="contenido-dual">

            <div class="columna">
                <div class="col-tag"><h2>📄 Original</h2></div>

                @if (isEditing) {
                <textarea [ngModel]="supabaseService.selectedDoc()?.contenido_md"
                    (ngModelChange)="supabaseService.updateContenido($event)" placeholder="Escribe en Markdown..."
                    class="area-edicion">
                </textarea>
                } @else {
                <div class="markdown-body">
                    <markdown [data]="supabaseService.selectedDoc()?.contenido_md"></markdown>
                </div>
                }
            </div>

            <div class="columna">
                <div class="col-tag"><h2>🧠 Mi Resumen</h2></div>

                @if (isEditing) {
                <textarea [ngModel]="supabaseService.selectedDoc()?.resumen_md"
                    (ngModelChange)="supabaseService.updateResumen($event)"
                    placeholder="Explícalo con tus propias palabras..." class="area-edicion resumen-bg">
                </textarea>
                } @else {
                <div class="markdown-body">
                    <markdown [data]="supabaseService.selectedDoc()?.resumen_md"></markdown>
                </div>
                }
            </div>

        </div>

        <details>
            <summary><h3>Gestionar Preguntas, click para ver</h3></summary>
            <div class="guardar-preguntas">
                <h3>Añade una nueva pregunta al documento</h3>
                <input type="text" [(ngModel)]="nuevaPregunta" placeholder="Escribe una pregunta para este tema..." />
                <input type="text" [(ngModel)]="nuevaRespuesta" placeholder="Escribe la respuesta..." />
            </div>
            <div class="anadir-preguntas">
                <button (click)="guardarPregunta()" [class.btn-update]="preguntaEnEdicion">
                    {{ preguntaEnEdicion ? '💾 Actualizar Pregunta' : '➕ Añadir Pregunta' }}
                </button>

                @if (preguntaEnEdicion) {
                <button (click)="cancelarEdicion()" class="btn-cancel">❌ Cancelar</button>
                }
            </div>

            <div class="lista-preguntas">
                <ul class="lista-preguntas-simple">
                    @for (pregunta of listaPreguntas; track pregunta.id){
                    <li class="pregunta-item">
                        <div class="texto-pregunta">
                            <strong>{{pregunta.pregunta}}</strong>
                        </div>

                        <div class="acciones-item">
                            <button (click)="cargarPreguntaParaEditar(pregunta)" class="btn-icon" title="Editar">
                                ✏️
                            </button>

                            <button (click)="eliminarPregunta(pregunta.id)" class="btn-icon delete" title="Eliminar">
                                🗑️
                            </button>
                        </div>
                    </li>
                    }
                </ul>
            </div>

        </details>
        <button (click)="abrirQuiz()" class="btn-start-quiz">🚀 Iniciar Quiz Feynman</button>
        @if (quizAbierto){
            <app-quizzer [preguntasEntrada]="listaPreguntas" (cerrarQuiz)="cerrarQuiz()"></app-quizzer> 
        }
        <hr class="separador">

        <div class="zona-hijos">
            <h3>📂 Sub-temas de "{{ supabaseService.selectedDoc()?.titulo }}"</h3>

            <button class="btn-add" (click)="nuevoSubHijo()">+ Añadir Sub-tema</button>

            @if (hijos.length === 0){
            <p class="msg-vacio">No tiene sub-temas. ¡Añade uno!</p>
            }
            @else {
            <ul class="lista-hijos-simple">
                @for (hijo of hijos; track hijo.id) {
                <li (click)="seleccionarDocumento(hijo)" class="doc-item">
                    <strong>{{ hijo.titulo }}</strong>
                    <small style="color: #888; font-size: 0.8em;"> ({{ hijo.id.substring(0,8) }}...)</small>
                </li>
                }
            </ul>
            }
        </div>
    </div>
    }
</div>